/*
body.container {
    width: 100%;
	background-image: url("/assets/resource/brickwall.png");
    background-repeat: repeat;
	/*background-color: lightyellow;*/
    border: 1px solid gray;
}
*/
body.container {
	/*background-color: #f5f5f5;*/
	width: 100%;
	background-image: url("/assets/resource/default.jpg");	
	}
	
h4 {
	text-align: center;
	}
	
header {
    padding: 0px;
	margin: 0px 0px;
    background-color: black;
	font-size: 16px;
	font-family: sans-serif;
    text-align: center;
}
a, #item {
	color: white;
}



body.container {
    width: 100%;
    border: 1px solid gray;
}
	
	
