body {
	background-color: #f5f5f5;
}
.def__background{
	background-image: url("../resource/default-min.jpg"); 
	border-radius: 0px; 
	-moz-background-size: cover;
	background-size: cover;
	min-height: 600px;	
}
.it__background{
	background-image: url("../resource/IT-Services-min.jpg");
	border-radius: 0px; 
	-moz-background-size: cover;
	background-size: cover;
	min-height: 600px;	
}
.con__background{
	background-image: url("../resource/cont-min.jpg");
	border-radius: 0px; 
	-moz-background-size: cover;
	background-size: cover;
	min-height: 600px;	
}
@media( min-width: 769px ){
	.def__background{
	background-image: url("../resource/default.jpg");
	}
}
@media (min-width: 769px){
	.it__background{
	background-image: url("../resource/IT-Services.jpg");
	}
}
.logo{
	font-weight: bold;
	font-size: 26px;
}
.bold{
	font-weight:bold;
}
.text__green{
	color:#00ff00;
}
.text__white{
	color: #ffffff;
}
.bg__color{
	background-color: rgba(245, 245, 245, 0.7);
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.img-responsive {
    margin: 0 auto;
}
.foot__img{
	width:100px;
}
.foot__text{
	color:#9f9f9f;
}
h1,h2,h4 {
	text-align: center;
}	
a, #item {
	color: white;
}